.row {
    margin-left: -15px;
    margin-right: -15px;
}

.column,
.column--1-2 {
    margin-left: 15px;
    margin-right: 15px;
    float: left;
}

.column,
.column--1-2 {
    margin-left: 15px;
    margin-right: 15px;
    float: left;
}

body.page-template-tpl-online-checkin .content-wrapper .form-wrapper__description p:first-of-type {
    border-bottom: 1px solid #dee8f1;
    padding: 0 0 30px;
    margin: 0 0 30px;
}

body.page-template-tpl-online-checkin .content-wrapper .form-wrapper__description p {
    font-size: 16px;
    line-height: 24px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

body.page-template-tpl-online-checkin .content-wrapper .form-wrapper small,
body.page-template-tpl-online-checkin .content-wrapper .form-wrapper ul {
    color: #788ca5;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.column {
    width: calc(100% - 30px);
}

body.page-template-tpl-online-checkin .content-wrapper .form-wrapper__form {
    width: 50%;
    float: left;
    padding: 25px;
}

.form__row {
    margin-left: -7.5px;
    margin-right: -7.5px;
}

.form__field,
.form__field--1-2 {
    margin-left: 7.5px;
    margin-right: 7.5px;
    float: left;
}

.form__field {
    width: calc(100% - 15px);
    margin-bottom: 15px;
}

.form label {
    display: block;
    margin: 0 0 2px;
}

label {
    cursor: default;
}

.form__field,
.form__field--1-2 {
    margin-left: 7.5px;
    margin-right: 7.5px;
    float: left;
}

.form input:not([type]),
.form input[type=color],
.form input[type=date],
.form input[type=datetime-local],
.form input[type=datetime],
.form input[type=email],
.form input[type=month],
.form input[type=number],
.form input[type=password],
.form input[type=search],
.form input[type=tel],
.form input[type=text],
.form input[type=time],
.form input[type=url],
.form input[type=week],
.form select,
.form textarea {
    width: 100%;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #acd9f5;
    padding: 10px 14px;
    color: #00305b;
    font-weight: 600;
    -webkit-transition: background-color .3s, border-color .3s;
    -o-transition: background-color .3s, border-color .3s;
    transition: background-color .3s, border-color .3s;
}

body.page-template-tpl-online-checkin .content-wrapper .form-wrapper__description {
    width: 50%;
    float: right;
    padding: 25px;
    background: #f3f9fd;
    border-radius: 0 4px 4px 0;
    font-size: 14px;
    line-height: 18px;
    min-height: 340px;
}

.form input:not([type]),
.form input[type=color],
.form input[type=date],
.form input[type=datetime-local],
.form input[type=datetime],
.form input[type=email],
.form input[type=month],
.form input[type=number],
.form input[type=password],
.form input[type=search],
.form input[type=tel],
.form input[type=text],
.form input[type=time],
.form input[type=url],
.form input[type=week],
.form select,
.form textarea {
    width: 100%;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #acd9f5;
    padding: 10px 14px;
    color: #00305b;
    font-weight: 600;
    -webkit-transition: background-color .3s, border-color .3s;
    -o-transition: background-color .3s, border-color .3s;
    transition: background-color .3s, border-color .3s;
}

button,
input,
optgroup,
select,
textarea {
    font: inherit;
    margin: 0;
}

button,
input {
    overflow: visible;
}

input[type="text" i] {
    padding: 1px 2px;
}

.form__row:after {
    content: "";
    display: block;
    clear: both;
}

.form__field--1-2 {
    width: calc(50% - 15px);
}

input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
}