body {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    line-height: 23px;
}
.margin-bottom-20px {
    margin-bottom: 20px;
}
/* phan header */
.background-grey-1{
 background-color: #eeeded;
}
.padding-tb-25px{
padding-top: 25px ;
padding-bottom: 25px;
} 
.text-grey-4{
    color: #424242;
}
.h6, h6 {
    font-size: 18px;
}
/* container */
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/* phan  ben phai */
.font-weight-300{
    font-weight: 300;
}
.padding-tb-10px{
    padding-top: 10px;
    padding-bottom: 10px;
}
.text-capitalize {
    text-transform: capitalize!important;
}
.font-2 {
    font-family: "Open Sans";
}
/* ben phai */
.breadcrumb {
    display: inherit;
}
.z-index-2 {
    z-index: 2;
}
.position-relative {
    position: relative!important;
}
.no-background {
    background: none;
}
.padding-tb-10px {
    padding-top: 10px;
    padding-bottom: 10px;
}
.padding-lr-0px {
    padding-left: 0px;
    padding-right: 0px;
}
.margin-0px {
    margin: 0px;
}
.breadcrumb li {
    display: inline-block;
    margin-right: 10px;
}
li{
    display: list-item;
}

.breadcrumb li > :after {
    font-family: FontAwesome;
    content: "\f105";
    margin-left: 10px;
}
/* noidung */
.padding-tb-40px {
    padding-top: 40px;
    padding-bottom: 40px;
}
.background-light-grey {
    background-color: #FAFAFA;
}
/* .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/* .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
} */ 
.theiaStickySidebar {
    padding-top: 0px; 
    padding-bottom: 1px; 
    position: static; 
    transform: none;
}
.theiaStickySidebar:after {
    content: "";
    display: table;
    clear: both;
}
/*  */
.border-grey-1 {
    border-color: #eeeded !important;
}
.border-1 {
    border: solid 1px;
}
.margin-bottom-35px {
    margin-bottom: 35px;
}
.background-white {
    background-color: #fff;
}
/*  */
.padding-30px {
    padding: 30px;
}




.font-weight-700 {
    font-weight: 700;
}
.margin-bottom-10px {
    margin-bottom: 10px;
}
.margin-top-10px {
    margin-top: 10px;
}
.text-large {
    font-size: 3vw;
    line-height: 55px;
}
.text-dark {
    color: #212121;
}
.text-dark {
    color: #343a40!important;
}
.text-capitalize {
    text-transform: capitalize!important;
}
.d-block {
    display: block!important;
}
.margin-bottom-15px {
    margin-bottom: 15px;
}
.text-up-small {
    font-size: 14px;
    line-height: 22px;
}
.text-grey-2 {
    color: #9E9E9E;
}
.margin-right-20px {
    margin-right: 20px;
}
.text-extra-small {
    font-size: 11px;
    line-height: 14px;
}
.text-main-color {
    color: #1db8c1;
}
/* hinh anh */
img {
    max-width: 100%;
}
img {
    vertical-align: middle;
    border-style: none;
}
.wh{
    width: 348px;
    height: 213.88px;
}
.wh2{
    width: 129px;
    height: 100px;
}
/* phanemail */
.widget {
    margin-bottom: 40px;
    border: 1px solid #eeeded;
    padding: 30px;
    background-color: #fff;
}
.widget h4.widget-title:before {
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    height: 1px;
    width: 100%;
    background-color: #eeeded;
}
.clearfix::after {
    display: block;
    clear: both;
    content: "";
}
.widget h4.widget-title span {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
    background-color: #fff;
}

.widget h4.widget-title {
    text-transform: uppercase;
    font-size: 16px;
    color: #1db8c1;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    position: relative;
}
/* ul li  */
.widget_categories ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.widget_categories ul li {
    padding: 5px 0 5px 0;
    border-bottom: 1px solid #eeeded;
}
.widget_categories ul li a {
    color: #424242;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
/* text */

p{
    font-size: 15px;
    text-align: justify;
}
/* nut input */
.border-0 {
    border: solid 0px;
}
.margin-top-15px {
    margin-top: 15px;
}
.text-small {
    font-size: 12px;
    line-height: 20px;
}
.text-white, .text-white a {
    color: #fff;
}
.background-grey-3 {
    background-color: #616161;
}
.text-white {
    color: #fff!important;
}
.text-uppercase {
    text-transform: uppercase!important;
}
.rounded-0 {
    border-radius: 0!important;
}
.border-0 {
    border: 0!important;
}
.btn-block {
    display: block;
    width: 100%;
}

.widget ul.last-posts {
    padding: 0;
    margin: 0;
    list-style: none;
}

.widget ul.last-posts li {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: solid 1px #eeeded;
}

.width-60px {
    width: 60px;
}
.margin-right-15px {
    margin-right: 15px;
}
.float-left {
    float: left!important;
}

.font-weight-700 {
    font-weight: 700;
}
.text-medium {
    font-size: 16px;
    line-height: 23px;
}
.text-dark {
    color: #212121;
}
.text-dark {
    color: #343a40!important;
}
.text-uppercase {
    text-transform: uppercase!important;
}


.text-extra-small {
    font-size: 11px;
    line-height: 14px;
}


/* STICKY CSS */


.responsiveImg {
    width: 100%;
    height: auto;

}

/* long */

.binhluan {
    width: 100%;
    /* background-color: red; */
    
    border-bottom: 1px solid #ebebeb;
    font-size: 1vw;
}
.binhluan img {
    width: 40px;
}
.tenKH {
    color: rgb(0 48 137);
}
.noidung {
    font-size: 0.9vw;
}
.hinh {
    width: 7.5%;
    display: inline-block;
    vertical-align: top;
}
.noidungbinhluan {
    width: 70%;
    display: inline-block;
}

.sticky-content {
    position: relative; 
    overflow: visible; 
    box-sizing: border-box; 
    min-height: 1px;
}

.sticky-content-fixed {
    position: fixed;
    top: 100px;
    right: 7.5%;
    width: 28.27%;
    display: none;
}
.sticky-content-ab {
    position: absolute;
    
}
.max-width-4pt {
    max-width: 4%;
}

.img-in {
    width: 100%;
    height: 220px;
    background-size: 100%;
    background-repeat: no-repeat, repeat;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.fixed-blog-bg {
    background-image: url("../../../../uploads/background-blog.jpg");
    width: 100%;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.binhluan {
    width: 100%;
    padding: 10px 0px;
    border-bottom: 1px solid rgb(243, 243, 243);
    margin: 20px 0px;
}

.l-fontz-nor {
    font-size: 0.8vw;
    line-height: 15px;
}

#l-box-binhluan-display {
    display: none;
}

.l-bt {
    font-size: 0.8vw;
}
.l-bt div {
    display: inline-block;
    margin-right: 2%;
    margin-top: 1%;
}
.like {
    cursor: pointer;
}

.traloi {
    cursor: pointer;
}

.blog-entry {
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 6px 30px rgba(0,0,0,.1);
    margin-top: 0;
}
.fz-2vw {
    font-size: 2vw;
}

.line-height-35px {
    line-height: 35px;
}

.webkit-line-clam {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.blog-line-5-clamp {
    -webkit-line-clamp: 5;
}

.blog-line-2-clamp {
    -webkit-line-clamp: 2;
}

.pd-20-30-40-30 {
    padding: 20px 30px 40px 30px;
}

.fz_8vw {
    font-size: 0.8vw;
}

.l-mota-blog {
    color: #616161;
    /* font-weight: 400; */
    font-size: 14px;
}

.cl-blackgr {
    color: #8d8d8d;
    transition: 0.5s;
}

.cl-blackgr:hover {
    color: #2b2b2b;
}

.pd-b-7px {
    padding-bottom: 7px;
}

.mr-top-3px {
    margin-top: 3px;
}

.div-right-inblogdt {
    position: relative; 
    overflow: visible; 
    box-sizing: border-box; 
    min-height: 1px;
}
/* blog detail */
.l-div-right-fixed {
    position: fixed!important;
    right: 7.5%;
    width: 28.333%;
    top: -500px;
}
.l-div-right-absolute {
    position: absolute!important;
    right: 7.5%;
    width: 28.333%;
}

.w-80px {
    width: 80px;
}

.h-75px {
    height: 75px;
}
/* blog detail */

.l-box-blog-left {
    position: relative; 
    overflow: visible; 
    box-sizing: border-box; 
    min-height: 1540.2px;;
}
