.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.center{
    margin: 0 auto;
}

.uppercase{
    text-decoration: none;
    text-transform: uppercase;
}
 .mar{
     margin-left: 117px;
 }

 /* gradiant */
 .animated-gradient {
    background: repeating-linear-gradient(to right, #17EAD9 0%, #28AAD1 50%);
    width: 100%;
    background-size: 200% auto;
    background-position: 0 100%;
    animation: gradient 3s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }
  
  @keyframes gradient { 
    0%   { background-position: 0 0; }
    100% { background-position: -200% 0; }
  }


  /* Blur */
  .hover07 a img {
	-webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
   
}
.hover07 a:hover img {
	-webkit-filter: blur(0);
	filter: blur(1);
}

.widget {
    margin-bottom: 40px;
    border: 1px solid #eeeded;
    padding: 30px;
    background-color: #fff;
    margin-top: 50px;
}
.widget h4.widget-title {
    text-transform: uppercase;
    font-size: 16px;
    color: #1db8c1;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    position: relative;
}

.rounded-0 {
    border-radius: 0!important;
}


/*  ########################################## */


.theiaStickySidebar {
    content: "";
    display: table;
    clear: both;
}
.border-grey-1 {
    border-color: #eeeded !important;
}
.border-1 {
    border: solid 1px;
}
.margin-bottom-35px {
    margin-bottom: 35px;
}
.background-white {
    background-color: #fff;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.no-gutters>.col, .no-gutters>[class*=col-] {
    padding-right: 0;
    padding-left: 0;
}
img {
    max-width: 100%;
}
img-in {
    vertical-align: middle;
    border-style: none;
    width: 150px;
    height: 300px;


}
.padding{
    padding: 15px;
}
.font-weight-700 {
    font-weight: 700;
}
.margin-bottom-8px {
    margin-bottom: 8px;
}
.text-up-small {
    font-size: 14px;
    line-height: 22px;
}
.text-dark {
    color: #212121;
}
.text-dark {
    color: #343a40!important;
}
.text-capitalize {
    text-transform: capitalize!important;
}
.d-block {
    display: block!important;
}
.margin-bottom-10px {
    margin-bottom: 10px;
}
.text-up-small {
    font-size: 14px;
    line-height: 22px;
}
.text-grey-2 {
    color: #9E9E9E;
}
.d-block {
    display: block!important;
}
.margin-top{
    margin-top: 50px;
}

.cus{
    text-align: center;
    letter-spacing: 3px;
   
}

.box{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 30px;
}

.cus2{
    margin-top: 10px;
    padding: 10px;
    margin-right: 5px;
}
.btn{
    width: 100%;
    background-color: darkgrey;
    margin-left: 0px;
    position: relative;
    height: 50px;
    border-radius: none;
}
.tr{
    float: right;
}

.bg{
    background-color: black;
}

.overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 15px;
    padding: 15px;
    text-align: center;
  }
  .a:hover .overlay {
    opacity: 2;
  }