.l-box-member {
    margin-right: 5%;
}

.div-icon {
    width: 10%;
    height: 10%;
    border: 1px solid #1db8c1;
    display: inline-block;
    margin-bottom: 2%;
}

.l-pd-5px-10px {
    padding: 5px 10px;
}

.l-border-1px-gray {
    border: 1px solid;
}

.long-ab-us-header-out {
    position: relative;
    z-index: 10;
    width: 100%;
    min-height: 800px;
    background-image: url("../../img/page-title-1.jpg");
}

.pd-top-100px {
    padding-top: 100px;
}

.mr-bot-30px {
    margin-bottom: 30px;
}

.mr-right-20px {
    margin-right: 20px;
}

.z-index-2 {
    z-index: 2;
}

.cl-grey {
    color: #dddddd;
}

.mr-top-30px {
    margin-top: 30px;
}

.background-overlay {
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.background-img-dark:after {
    background-color: #000;
}

.background-overlay:after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: #000;
}

.background-grey-1 {
    background-color: #eeeded;
}

.l-box-travelzsay {
    width: 30%;
    margin-right: 5%;
    max-height: 260px;
    padding: 30px;
    background-color: white;
    display: inline-block;
}

.line-hight-28 {
    line-height: 28px;
}

.l-box-our {
    background-color: white;
    border: 1px solid #E0E0E0;
    margin-right: 2.667%;
    padding: 0px;
    width: 23%;
    text-align: center;
}

.l-box-our a img {
    margin-bottom: 10px;
}

.l-box-our ul {
    margin: 4% 0px;
}