
.sticky-content {
    position: relative; 
    overflow: visible; 
    box-sizing: border-box; 
    min-height: 1px;
}

.sticky-content-fixed {
    position: fixed;
    top: 100px;
    right: 7.5%;
    width: 28.27%;
    display: none;
}
.sticky-content-ab {
    position: absolute;
    
}
.max-width-4pt {
    max-width: 4%;
}

.img-in {
    width: 100%;
    height: 300px;
    background-size: 100%;
    background-repeat: no-repeat, repeat;
}