.background-cl-3 {
    background-color: rgb(162, 230, 247);
    ;
}

.l-canh-trai {
    position: fixed;
    left: 0;
    width: 37%;
    min-height: 500px;
    background-image: url("../../img/canhmaybay-left.png");
    opacity: 0.8;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.l-canh-phai {
    position: fixed;
    right: 0;
    width: 37%;
    min-height: 500px;
    background-image: url("../../img/canhmaybay-right.png");
    opacity: 0.8;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.l-ghe-may-bay {
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    width: 26%;
    min-height: 500px;
    border: 8px solid rgb(247, 247, 247);
    padding: 25px;
    overflow: auto;
    overflow-y: scroll;
    max-height: 2500px;
}


/* Hide scrollbar for Chrome, Safari and Opera */

.l-ghe-may-bay::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */

.l-ghe-may-bay {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.l-phothong {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 20px 0px;
}

.l-ghe-phothong {
    display: inline-block;
    padding: 10px 20px;
    width: 20%;
    margin: 10px 4px;
    height: auto;
    text-align: center;
    /* background-color:#00d0db; */
    background-color: #27c8d1;
    ;
    cursor: pointer;
    transition: 0.2s;
    color: white;
    font-size: 1vw;
}

.l-thuonggia {
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 20px;
}

.l-ghe-thuonggia {
    display: inline-block;
    padding: 10px 0px;
    width: 20%;
    margin: 10px 4px;
    height: auto;
    text-align: center;
    background-color: #ffd11a;
    cursor: pointer;
    transition: 0.2s;
    color: white;
    font-size: 1vw;
}

.disable {
    display: inline-block;
    padding: 10px 0px;
    width: 20%;
    margin: 10px 4px;
    height: auto;
    text-align: center;
    background-color: rgb(204, 204, 204)!important;
    cursor: pointer;
    transition: 0.2s;
    color: white;
    font-size: 1vw;
}

.l-ghe-may-bay a {
    color: white;
}


/* .l-mr-right {
    margin-right: 10%;
} */

.l-div-hover:hover {
    background-color: rgb(255, 51, 51);
    opacity: 0.7;
}

.l-bg-gray {
    background-color: rgb(204, 204, 204)!important;
    cursor: default!important;
}

.l-ghe-active {
    background-color: rgb(255, 51, 51);
}

.mr-right-10pt {
    margin-right: 10%;
}

.l-loi-thoat {
    padding: 0px 25px;
}

.l-loi-thoat-left {
    width: 20%;
    margin-right: 60%;
    text-align: left;
    font-size: 1vw;
}

.l-loi-thoat-right {
    width: 20%;
    text-align: end;
    font-size: 1vw;
}

.l-box-room {
    width: 44%;
    background: rgb(243 243 243);
    padding: 15px 0px;
    margin: 20px 0px;
    margin-right: 12%;
}

.l-wc-trenmaybay {
    font-size: 2vw;
    color: rgb(91 91 91);
}

.l-chu-thich {
    width: 100%;
    padding: 20px;
    padding-bottom: 0px;
}

.l-box-room-bg-none {
    width: 44%;
    /* padding: 10px 0px; */
    margin: 10px 0px;
    margin-right: 12%;
    text-align: left;
    font-size: 1vw;
    height: 70px;
    max-height: 70px;
}

.l-chu-thich-fixed {
    padding: 20px;
    padding-bottom: 0px;
    position: fixed;
    width: 27%;
    right: 100px;
    z-index: 100;
    top: 100;
    top: 100px;
    /* background: white; */
    opacity: 0.8;
    display: none;
    z-index: 0;
}

.l-css-box-color {
    width: 17%;
    height: 40px;
    vertical-align: top;
}

.l-color-thuong-gia {
    background-color: #ffd11a;
}

.l-color-pho-thong {
    background-color: #27c8d1;
}

.l-color-da-chon {
    background-color: rgb(255, 51, 51);
}

.l-color-co-nguoi-dat {
    background-color: rgb(204, 204, 204);
}

.l-color-khac {
    background-color: rgb(9, 116, 41);
}

.l-mr-l-3pt {
    margin-left: 3%;
}

.l-w-70pt {
    width: 70%;
}

.fz-1p1vw {
    font-size: 1.1vw;
}

.fw-700 {
    font-weight: 700;
}

.opacity-0p7 {
    opacity: 0.7;
}

.slide-chonghe {
    width: 100%;
    margin: 0 auto;
    background-color: white;
    border: 8px solid rgb(247, 247, 247);
}

.l-ghe-phothong-slide {
    /* padding: 10px 20px; */
    width: 100%;
    padding: 10px 0px;
    margin: 10px 0.1px;
    height: auto;
    text-align: center;
    background-color: #27c8d1;
    cursor: pointer;
    transition: 0.2s;
    color: white;
    font-size: 1vw;
}

.margin-bot-30px {
    margin-bottom: 30px;
}

.l-slide-width {
    width: 100%;
    padding: 15px;
}

.l-position-absolute-top-2000 {
    position: absolute;
    top: 2200px;
}

.dl-none {
    display: none;
}

.dl-block {
    display: block;
}

.l-bt_next_fixed {
    position: absolute;
    top: 150px;
    right: 385px;
    padding: 20px;
    color: white;
    z-index: 19;
}

.l-bt_next_fixed a {
    cursor: pointer;
    padding: 20px;
    font-size: 60px;
    color: white;
}

.l-bt_next_fixed a i {
    transition: 0.5s;
}

.l-bt_next_fixed a:hover i {
    transform: scale(1.1);
}

.l-position-absolute {
    position: absolute!important;
}

.l-bt_close {
    position: absolute;
    top: 250px;
    right: 385px;
    padding: 20px;
    color: rgb(255, 51, 51);
    z-index: 19;
}

.l-bt_close a {
    cursor: pointer;
    padding: 20px;
    font-size: 60px;
    color: white;
}

.l-bt_close a i {
    transition: 0.5s;
}

.l-bt_close a:hover i {
    transform: scale(1.1);
}

.l-position-absolute {
    position: absolute!important;
}