.cl-gray3 {
    color: #d7d7d7;
}

.breadcrumb {
    background: none;
}

.link {
    width: 100%;
    text-align: center;
    margin-top: 12%;
}

.border-top-1 {
    border-top: 1px solid gray;
}

.long-lien-he-header-out {
    position: relative;
    z-index: 10;
    width: 100%;
    min-height: 800px;
    background-image: url("../../img/contact-bg-header.jpg");
}

.bg-black {
    background-color: black;
}

.long-div-center-head {
    min-height: 800px;
    opacity: 0.7;
    text-align: center;
    padding: 260px;
    position: absolute;
    width: 100%;
    z-index: -10;
}

.te-center {
    color: white;
    text-align: center;
    padding: 200px;
    width: 81%;
    margin: 0 auto;
}

.ct-us {
    font-size: 4vw;
    opacity: 0.8;
    padding: 20px;
    font-weight: 600;
}

.display-none {
    display: none;
}